#index{
    margin-top: 50px;
}

.lista{
    list-style-type: none;
    padding-left: 0px;
}

.lista li{
    border-left: 5px solid #3b5998;
    padding: .4em .4em .4em .8em;
    transition: all .3s ease-in-out;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.lista li:hover{
    border-left: 5px solid #8b9dc3;
}

.contenedor-lista{

}

.titulo-recientes{
    margin-bottom: 1.0em;
}


