
{{>header}}

<div id="index" class="container">
    <div class="row">
      <div class="col-md-6 contenedor-lista">
          <h3 class="titulo-recientes">Más visitadas</h3>

          <ul class="lista">
              {{{noticiasVisitadas}}}
          </ul> 
      </div>
      <div class="col-md-6 contenedor-lista">
          <h3 class="titulo-recientes">Agregadas recientemente</h3>
          <ul class="lista">
              {{{noticiasRecientes}}}
          </ul> 
      </div>
    </div>
</div><!-- /.container -->

{{>footer}}
