
{{>header}}

<div class="container contenedor-saludos">
    <h2>Fake news</h2>
    <p class="texto-contenido">Ayuda a descubrir si las noticias son falsas, buscando el origen.</p>
    
    <div class="intro-contenedor">
        <div class="col-md-4 ">
            <div class="intro-figura">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            </div>
            <div class="intro-titulo">Sube una noticia</div>
            <div class="intro-contenido">
                Sube una noticia que creés que sea falsa o que quieres buscar la
                fuente. Puedes subir una imagen con texto, nosotros obtendremos
                el texto de esa imagen de forma fácil.
            </div>
        </div>
        <div class="col-md-4">
            <div class="intro-figura">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <div class="intro-titulo">Busca la fuente</div>
            <div class="intro-contenido">
                Buscar fuentes que respalden la noticia. Recuerda que hay otras
                personas que estarán haciendo lo mismo.
            </div>
        </div>
        <div class="col-md-4">
            <div class="intro-figura">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="intro-titulo">Vota la mejor fuente</div>
            <div class="intro-contenido">
                Pueden existir muchas fuentes para una noticia, vota la que
                consideres más acertada.
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 100px;">
  <div class="col-md-6 contenedor-lista">
      <h3 class="titulo-recientes">Más visitadas</h3>

      <ul class="lista">
          {{{noticiasVisitadas}}}
      </ul> 
  </div>
  <div class="col-md-6 contenedor-lista">
      <h3 class="titulo-recientes">Agregadas recientemente</h3>
      <ul class="lista">
          {{{noticiasRecientes}}}
      </ul> 
  </div>
</div>

{{>footer}}
