{{>header}}

<h3 class="noticia-titulo">{{titulo}}</h3>

<div class="noticia-imagenes">
    <div class="row">
        <div class="col-md-4">
            <div class="noticia-imagen">
                <img src="/images/image1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <h4>Imagen transformada en texto</h4>
            <div class="noticia-imagen">
                <div>
                    Today
        
                    Amigos, recibimos un comunicado de
                    último minuto, de la 'lº compañía de
                    bombero, de metropolitano Sur, que
                    lamentablemente existe un foco de
                    incendio en las torres de alta tensión,
                    que comprende de la comuna de Parral
                    hacía el norte, y nos avisan que en
                    cualquier momento quedaría sin luz todo
                    el área metropolitana Y nos sugieren
                    que Preparemos linternas, cargar
                    celulares, pilas recargables, para
                    artefactos portátiles. Y esto, porque
                    están corriendo grave peligro las torres
                    de alta tensión que abastece de energía
                    eléctrica a gran parte del Área
                    metropolitana hacia el sun Por favor
                    avisar a sus amigos y familiares. Es
                    urgente.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="">
                <button type="button" class="btn btn-primary navbar-btn">Nueva fuente</button>
                <button type="button" class="btn btn-primary navbar-btn">Reportar</button>
            </div>
            <div class="noticias-estadisticas">
                <h4 class="titulo">Estadísticas</h4>
                <ul class="lista-est">
                    <li>Número de visitas: </li>
                    <li>Fecha agregado: </li>
                    <li>Porcentaje de fuentes a favor:</li>
                    <li>Último movimiento:</li>
                </ul>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-4">
            <div class="noticia-imagen">
                <img src="/images/image1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <h4>Imagen transformada en texto</h4>
            <div class="noticia-imagen">
                <div>
                    Today
        
                    Amigos, recibimos un comunicado de
                    último minuto, de la 'lº compañía de
                    bombero, de metropolitano Sur, que
                    lamentablemente existe un foco de
                    incendio en las torres de alta tensión,
                    que comprende de la comuna de Parral
                    hacía el norte, y nos avisan que en
                    cualquier momento quedaría sin luz todo
                    el área metropolitana Y nos sugieren
                    que Preparemos linternas, cargar
                    celulares, pilas recargables, para
                    artefactos portátiles. Y esto, porque
                    están corriendo grave peligro las torres
                    de alta tensión que abastece de energía
                    eléctrica a gran parte del Área
                    metropolitana hacia el sun Por favor
                    avisar a sus amigos y familiares. Es
                    urgente.
                </div>
            </div>
        </div>
    </div>
</div>


{{>footer}}
